// header
.main {
    &-header {
        display: block;
        width: 100%;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        padding: 0 20px;
        .logo {
            max-width: 40px;
            width: 100%;
        }
        &-top {
            background: hsla(0, 0%, 100%, 0.4);
            backdrop-filter: blur(7px);
            max-width: 1240px;
            padding: 4px 60px;
            margin: 30px auto;
            border-radius: 35px;
            border: 1px solid white;
        }
        &-box {
            @include flex(center, space-between);
        }
        .nav {
            @include flex(center, space-between);
            &-link {
                padding: 8px 0 8px 20px;
                font-weight: bold;
                position: relative;
                &:hover {
                    @include text-linear-gradient(241deg, 11%, 70%, 100%);
                    &::after {
                        content: "";
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        left: calc((100% - 15px) / 2);
                        top: 4px;
                        z-index: -1;
                        border-radius: 28px;
                        background-color: #fff;
                    }
                }
            }
            .download {
                color: white;
                font-weight: bold;
                background-color: $gray-dark;
                border-radius: 20px;
                padding: 8px 10px;
                margin: 8px 0 8px 20px;
                &:hover {
                    background-image: linear-gradient(241deg, #e83db8 7%, #4653ca 70%, #b913e9 100%);
                    background-color: none;
                }
            }
        }
    }
}

// header-media
@include pad {
    .main {
        &-header {
            &-top {
                padding: 4px 16px;
            }
            .nav {
                font-size: 14px;
                &-link {
                    padding: 8px 0 8px 10px;
                }
                .download {
                    margin: 8px 0 8px 10px;
                }
            }
        }
    }
}

// btn
.btn {
    width: 100%;
    outline: none;
    border: none;
    margin: 0 auto;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    @include bg(icon/arrow-right-white, svg, center, center, no-repeat, 22px);
    @include flex(center, center);
    background-color: $gray-dark;
    p {
        display: none;
    }
}

.block {
    margin-top: 50px;
    &-s {
        max-width: 1060px;
        margin: 50px auto 0;
    }
    &-title {
        font-size: $h1;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
        @include text-linear-gradient(293deg, 9%);
    }
    &-body {
        width: 100%;
        padding: 48px 60px 24px;
        margin-top: 52px;
        position: relative;
        @include flex(normal, space-between);
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -3;
            border-radius: 24px;
            backdrop-filter: blur(5px);
            background-color: rgb(255 255 255 / 40%);
            border: 1px solid white;
        }
    }
    &-content {
        padding-right: 60px;
        line-height: 30px;
        letter-spacing: 1.5;
    }
    &-img {
        max-width: 257px;
        border-radius: 130px;
        box-shadow: 0 6px 14px 0 rgb(0 0 0 / 20%);
        margin-top: -180px;
    }
}

@include desktop {
    .block {
        &-body {
            padding: 24px 40px 24px;
        }
        &-content {
            padding-right: 24px;
        }
        &-img {
            margin-top: -130px;
        }
    }
}

@include pad {
    .block {
        &-body {
            padding: 52px 40px 24px;
        }
        &-content {
            padding-right: 0;
        }
        &-img {
            content: url("@/assets/images/about-img-mobile.png");
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            max-width: 150px;
            height: 150px;
            margin-top: 0;
            position: absolute;
            right: 30px;
            top: -110px;
        }
        &-title {
            font-size: 50px;
            margin-top: 20px;
        }
    }
}

@include mobile_lg {
    .block {
        &-body {
            margin-top: 23px;
            padding: 52px 20px 24px;
        }
        &-img {
            top: -70px;
            max-width: 100px;
            height: 100px;
        }
        &-title {
            font-size: 24px;
        }
    }
}
