

$font-family-base: "Noto Sans TC","Satisfy", -apple-system, Roboto, Arial, sans-serif;

/* color-variables */

$primary: #E83DB8;
$primary-light: #B0BEB0;
$bg-primary: linear-gradient(241deg, #E83DB8 60%, #4653CA 70%, #b913e9 135%);

$secondary: #CBB291; 
$secondary-light: #ECD9C1;
// $secondary-dark: #A46039;

$hightLight: #FF5136;
$hightLight-light: #FFB5A4;
$hightLight-dark: #CD331A;

$gray:#898989;
$gray-dark:#333333;
$gray-light:#D7D7D7;


$h1: 60px;
$h2: 40px;
$h3: 24px;
$h4: 20px;
$h5: 18px;
$h6: 14px;
$h7: 12px;