@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Noto+Sans+TC:wght@400;500;700;900&family=Satisfy&display=swap');

@import './reset';
@import './variables';
@import './mixin';
@import './base';

@import './component';


@import './layout.scss';
@import './index.scss';


.test{
    font-size: 80px;
    font-weight: 900;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; 
    background-image: $bg-primary;
}

.box{
    width: 100px;
    height: 100px;
    background: $bg-primary;
}